[submodule "src/js/vendor/mustache"]
	path = src/js/vendor/mustache
	url = https://github.com/janl/mustache.js.git
[submodule "src/js/vendor/requirejs"]
	path = src/js/vendor/requirejs
	url = https://github.com/jrburke/requirejs.git
